Source: gxde-qt5integration
Section: devel
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends:
 debhelper (>=9),
 qtbase5-dev,
 qtbase5-private-dev,
 libqt5xdg-dev,
 libdtkwidget2-dev,
 pkg-config,
 libqt5x11extras5-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 libglib2.0-dev,
 libqt5svg5-dev,
 libqt5xdgiconloader-dev,
 libmtdev-dev,
 libegl1-mesa-dev,
 libxrender-dev
Standards-Version: 3.9.8

Package: gxde-qt5integration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dde-qt5xcb-plugin, dde-qt5integration
Description: Qt platform theme integration plugins for GXDE
 Multiple Qt plugins to provide better Qt5 integration for GXDE is included.
